{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="loginWrapper">
    <h1>Rejestracja</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.username) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_widget(registrationForm.plainPassword, {
            placeholder: 'Password',
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Zarejestruj</button>
    {{ form_end(registrationForm) }}
    <div class="securityNav">
        <a href="{{path('app_login')}}">Logowanie</a>
    </div>
</div>
{% endblock %}
