{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="loginWrapper">
    <h1>Rejestracja</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.username, {'attr': {placeholder: "Nazwa użytkownika"}}) }}
        {{ form_widget(registrationForm.email, {'attr': {placeholder: "Email"}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {placeholder: "Hasło"}})  }}

        <button type="submit" class="btn">Zarejestruj</button>
        {{ form_errors(registrationForm) }}
    {{ form_end(registrationForm) }}
    <div class="securityNav">
        <a href="{{path('app_login')}}">Logowanie</a>
    </div>
</div>
{% endblock %}
